# Core LLM + agentic framework
langgraph
langgraph-checkpoint
langgraph-sdk

# LangChain integrations
langchain-openai
langchain-community

# IBM MQ client
pymqi

# SSL certificates
certifi

# Environment variable management
python-dotenv
truststore==0.10.4
